html{
    height:100%;
}
body{
    background-image: url("images/wallpaper.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment:fixed;
    height: 100%;
}
#mainBack{
    height:80%;
    width:100%;
}
#titleText{
    margin-top:10px;
    color: white;
    text-emphasis: none;
    text-align:center;
    font-family: 'Raleway', sans-serif;
}
#profilePic{

    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-image:url('images/profile_pic.png');
    background-position: center center;
    background-size:cover;
    margin-left:auto;
    margin-right:auto;
}
#headContent{
    position: absolute;
    width:100%;
    z-index:10;
    top: 25%;
}
.slide{
    background-color: white;
    width: 100%;
    padding:20px 30px;
}
#slide1{
    margin-top:-100px;
    width:80%;
    margin-left: auto;
    margin-right: auto;
    background-color:white;
    padding: 50px;
    border: 5px solid black;
}
.project{
    padding: 20px 30px;
    margin-bottom: 10px;
}
.projectImage{
    box-shadow: 3px;
    width:200px;
    margin:10px;
}
.socialLogo{
    width:30px;
    margin: 5px;
}
#socialBand{
    margin:auto;
    width: 40%;
    text-align: center;
}
#slide1 h2{
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
#slide1 p{

}
#content{
    padding:0 30px;
}

/***navbar transparent ***/
.navbar-trans {
    background: transparent; 
    position: absolute;
}
.navbar-trans a{
    font-family: 'Raleway', sans-serif;
    color:white;
}
  
  a.navbar-brand, a.logo {
    color: #fff !important;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 0; }
  
  a.logo:hover, a.logo:active, a.logo:focus {
    text-decoration: none; }
  
  li.nav-item .btn {
    margin-top: .2rem;
    margin-left: .4rem; }
  li.nav-item .btn-white {
    color: #46484a; }